#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Categories=COMMON
Exec=panic
Name=PANIC GUI for Alarms
Icon=preferences-system-firewall-new
